In [0]:
# A-Z deep learning 
# Churn modelling 
# ANN - a classification model

In [0]:
import numpy as np
import pandas as pd

In [0]:
! pip install tensorflow==2.1.0

Requirement already satisfied: tensorflow==2.1.0 in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.4.1)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.0.8)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.2.0)
Requirement already satisfied: tensorboard<2.2.0,>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (2.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (3.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.1.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.27.2)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.12.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.9.0)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.34.2)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (3.10.0)
Requirement already satisfied: tensorflow-estimator<2.2.0,>=2.1.0rc0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (2.1.0)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (0.8.1)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.18.2)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.1.0) (1.12.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.1.0) (2.10.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.0.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.7.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (46.0.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2.21.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.4.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.2.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (4.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.1.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (1.3.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.2.0,>=2.1.0->tensorflow==2.1.0) (3.1.0)

In [0]:
import tensorflow as tf
print(tf.__version__)

2.1.0

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (2).csv

In [0]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
dataset.shape

(10000, 14)

In [0]:
#checking for missing data in the dataset but considers only if the value is not avaiable.
print(dataset.isnull().sum())
"""incase the value is 0 then we need to look for another startegy
print((dataset[[1,2,3,4,5,6,7,8,9,10,11,12,13]]==0).sum())
we can replace this 0 values with Nan as numpy and pandas wont consider them for kinding out the mean, etc
dataset.replace(0,np.nan)  would do the work
we may also drop the rows with missing values as some algo in machine laenring give an erro if some null value is encountered
dataset.dropna(inplace=True)   ths piece of code will remove all the rows with value as null
"""

In [0]:
dataset.describe()

         RowNumber    CustomerId  ...  EstimatedSalary        Exited
count  10000.00000  1.000000e+04  ...     10000.000000  10000.000000
mean    5000.50000  1.569094e+07  ...    100090.239881      0.203700
std     2886.89568  7.193619e+04  ...     57510.492818      0.402769
min        1.00000  1.556570e+07  ...        11.580000      0.000000
25%     2500.75000  1.562853e+07  ...     51002.110000      0.000000
50%     5000.50000  1.569074e+07  ...    100193.915000      0.000000
75%     7500.25000  1.575323e+07  ...    149388.247500      0.000000
max    10000.00000  1.581569e+07  ...    199992.480000      1.000000

[8 rows x 11 columns]

In [0]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [0]:
"""
impute means using a model to replace the missing values
NOT REQUIRED AS THERE ARE NO MSSING VALUES IN THE DATASET
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

we can also use pandas function to impute missing values for each column
dataset.fillna(dataset.mean(),  inplace=True)
"""

#splitting the dataset into input and output

In [0]:
#X = dataset.iloc[:,[3,-1]].values
#y = dataset.iloc[:,13].values

In [0]:
X = dataset.drop(['RowNumber', 'CustomerId','Surname','Exited'], axis = 1).values
Y = dataset['Exited'].values

The first step is to check for any missing data that can be seem from the dataset.info command

In [0]:
X.shape

(10000, 10)

we will be using label encoder to demarcate the different categories of data that we have in a column and then we will use one hot encoder for each category of data

In [0]:
X[:2,:]

array([[619, 'France', 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
       [608, 'Spain', 'Female', 41, 1, 83807.86, 1, 0, 1, 112542.58]],
      dtype=object)

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x1 = LabelEncoder()
X[:,1] = labelencoder_x1.fit_transform(X[:,1])
labelencoder2 = LabelEncoder()
X[:,2] = labelencoder2.fit_transform(X[:,2])
print(X[:2,:])
X.shape

[[619 0 0 42 2 0.0 1 1 1 101348.88]
 [608 2 0 41 1 83807.86 1 0 1 112542.58]]

(10000, 10)

In [0]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [1,2])],   # The column numbers to be transformed (here is [0] but can be [0, 1, 3])
    remainder='passthrough'                                         # Leave the rest of the columns untouched
)
X = ct.fit_transform(X)

print(X[:2,:])
X.shape

[[1.0 0.0 0.0 1.0 0.0 619 42 2 0.0 1 1 1 101348.88]
 [0.0 0.0 1.0 1.0 0.0 608 41 1 83807.86 1 0 1 112542.58]]

(10000, 13)

### Standard Scaling
Since the vlaues in the various column in X are having a huge range of values we dont want sice certain columns have higher numerical values hence they should have more weightage in deciding what the result of the midel should be

In [0]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X = ss.fit_transform(X)
print(X[:5,:])
X.shape

[[ 0.99720391 -0.57873591 -0.57380915  1.09598752 -1.09598752 -0.32622142
   0.29351742 -1.04175968 -1.22584767 -0.91158349  0.64609167  0.97024255
   0.02188649]
 [-1.00280393 -0.57873591  1.74273971  1.09598752 -1.09598752 -0.44003595
   0.19816383 -1.38753759  0.11735002 -0.91158349 -1.54776799  0.97024255
   0.21653375]
 [ 0.99720391 -0.57873591 -0.57380915  1.09598752 -1.09598752 -1.53679418
   0.29351742  1.03290776  1.33305335  2.52705662  0.64609167 -1.03067011
   0.2406869 ]
 [ 0.99720391 -0.57873591 -0.57380915  1.09598752 -1.09598752  0.50152063
   0.00745665 -1.38753759 -1.22584767  0.80773656 -1.54776799 -1.03067011
  -0.10891792]
 [-1.00280393 -0.57873591  1.74273971  1.09598752 -1.09598752  2.06388377
   0.38887101 -1.04175968  0.7857279  -0.91158349  0.64609167  0.97024255
  -0.36527578]]

(10000, 13)

#Splitting data into test and training set

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.1,random_state=0)
X_train.shape

(9000, 13)

# Building our Artificial Neural Network
We are making our model using the sequential model type. sequential model type help ua building a model layer by layer ie in a sequential manner.
we also use the dense layer type this means that all the nodes of the pervious layer are connected with the nodes of the current layer

Activation function helps in discovering the non linear relationships.

In [0]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Till now we have just made the structure for the model.. now we will actually calcluate the weights for layers
optimizer is the gradient descent algo we use
if we have a binary output we use binary_crossentropy(log cost function), but if the output is having multiple categories then we use softmax function in the layer and the loss function will be categorical_crossentropy.

In [0]:
model = Sequential()
model.add(Dense(6, activation='relu', input_shape=(13,)))       # th first arg is the number of nodes in the layer, input size increases as we used onr=ehotencoder
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='sigmoid'))                        #output layer
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [0]:
model.fit(X_train,y_train,batch_size=10, epochs=100)

Train on 9000 samples
Epoch 1/100
9000/9000 [==============================] - 2s 179us/sample - loss: 0.4929 - accuracy: 0.7840
Epoch 2/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.4341 - accuracy: 0.7980
Epoch 3/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.4218 - accuracy: 0.8170
Epoch 4/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.4095 - accuracy: 0.8264
Epoch 5/100
9000/9000 [==============================] - 1s 150us/sample - loss: 0.3881 - accuracy: 0.8376
Epoch 6/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3680 - accuracy: 0.8480
Epoch 7/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3572 - accuracy: 0.8537
Epoch 8/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3520 - accuracy: 0.8552
Epoch 9/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3481 - accuracy: 0.8592
Epoch 10/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3462 - accuracy: 0.8596
Epoch 11/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3446 - accuracy: 0.8589
Epoch 12/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3425 - accuracy: 0.8599
Epoch 13/100
9000/9000 [==============================] - 1s 150us/sample - loss: 0.3418 - accuracy: 0.8599
Epoch 14/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3407 - accuracy: 0.8604
Epoch 15/100
9000/9000 [==============================] - 1s 157us/sample - loss: 0.3398 - accuracy: 0.8612
Epoch 16/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3396 - accuracy: 0.8608
Epoch 17/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3388 - accuracy: 0.8589
Epoch 18/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3382 - accuracy: 0.8618
Epoch 19/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3377 - accuracy: 0.8600
Epoch 20/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3374 - accuracy: 0.8592
Epoch 21/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3375 - accuracy: 0.8609
Epoch 22/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3364 - accuracy: 0.8619
Epoch 23/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3372 - accuracy: 0.8614
Epoch 24/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3357 - accuracy: 0.8613
Epoch 25/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3364 - accuracy: 0.8596
Epoch 26/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3355 - accuracy: 0.8608
Epoch 27/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3355 - accuracy: 0.8613
Epoch 28/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3355 - accuracy: 0.8623
Epoch 29/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3352 - accuracy: 0.8628
Epoch 30/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3343 - accuracy: 0.8622
Epoch 31/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3349 - accuracy: 0.8636
Epoch 32/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3342 - accuracy: 0.8619
Epoch 33/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3347 - accuracy: 0.8628
Epoch 34/100
9000/9000 [==============================] - 1s 161us/sample - loss: 0.3339 - accuracy: 0.8624
Epoch 35/100
9000/9000 [==============================] - 1s 158us/sample - loss: 0.3336 - accuracy: 0.8614
Epoch 36/100
9000/9000 [==============================] - 1s 160us/sample - loss: 0.3338 - accuracy: 0.8631
Epoch 37/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3335 - accuracy: 0.8646
Epoch 38/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3338 - accuracy: 0.8626
Epoch 39/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3337 - accuracy: 0.8629
Epoch 40/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3330 - accuracy: 0.8633
Epoch 41/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3332 - accuracy: 0.8619
Epoch 42/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3325 - accuracy: 0.8599
Epoch 43/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3334 - accuracy: 0.8621
Epoch 44/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3322 - accuracy: 0.8627
Epoch 45/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3332 - accuracy: 0.8620
Epoch 46/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3332 - accuracy: 0.8620
Epoch 47/100
9000/9000 [==============================] - 1s 149us/sample - loss: 0.3328 - accuracy: 0.8637
Epoch 48/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3327 - accuracy: 0.8623
Epoch 49/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3318 - accuracy: 0.8628
Epoch 50/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3321 - accuracy: 0.8631
Epoch 51/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3327 - accuracy: 0.8613
Epoch 52/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3321 - accuracy: 0.8623
Epoch 53/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3316 - accuracy: 0.8630
Epoch 54/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3325 - accuracy: 0.8620
Epoch 55/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3316 - accuracy: 0.8629
Epoch 56/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3317 - accuracy: 0.8640
Epoch 57/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3320 - accuracy: 0.8606
Epoch 58/100
9000/9000 [==============================] - 1s 150us/sample - loss: 0.3322 - accuracy: 0.8617
Epoch 59/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3317 - accuracy: 0.8627
Epoch 60/100
9000/9000 [==============================] - 1s 156us/sample - loss: 0.3320 - accuracy: 0.8614
Epoch 61/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3317 - accuracy: 0.8618
Epoch 62/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3321 - accuracy: 0.8640
Epoch 63/100
9000/9000 [==============================] - 1s 150us/sample - loss: 0.3316 - accuracy: 0.8624
Epoch 64/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3314 - accuracy: 0.8634
Epoch 65/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3310 - accuracy: 0.8638
Epoch 66/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3313 - accuracy: 0.8626
Epoch 67/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3311 - accuracy: 0.8642
Epoch 68/100
9000/9000 [==============================] - 1s 156us/sample - loss: 0.3312 - accuracy: 0.8639
Epoch 69/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3310 - accuracy: 0.8636
Epoch 70/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3307 - accuracy: 0.8642
Epoch 71/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3309 - accuracy: 0.8632
Epoch 72/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3302 - accuracy: 0.8651
Epoch 73/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3311 - accuracy: 0.8640
Epoch 74/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3304 - accuracy: 0.8650
Epoch 75/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3303 - accuracy: 0.8637
Epoch 76/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3300 - accuracy: 0.8633
Epoch 77/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3304 - accuracy: 0.8624
Epoch 78/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3302 - accuracy: 0.8637
Epoch 79/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3298 - accuracy: 0.8642
Epoch 80/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3305 - accuracy: 0.8628
Epoch 81/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3298 - accuracy: 0.8642
Epoch 82/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3298 - accuracy: 0.8639
Epoch 83/100
9000/9000 [==============================] - 1s 149us/sample - loss: 0.3305 - accuracy: 0.8648
Epoch 84/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3299 - accuracy: 0.8646
Epoch 85/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3303 - accuracy: 0.8632
Epoch 86/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3293 - accuracy: 0.8643
Epoch 87/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3299 - accuracy: 0.8626
Epoch 88/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3297 - accuracy: 0.8640
Epoch 89/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3301 - accuracy: 0.8641
Epoch 90/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3294 - accuracy: 0.8637
Epoch 91/100
9000/9000 [==============================] - 1s 150us/sample - loss: 0.3302 - accuracy: 0.8649
Epoch 92/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3294 - accuracy: 0.8639
Epoch 93/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3290 - accuracy: 0.8640
Epoch 94/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3300 - accuracy: 0.8648
Epoch 95/100
9000/9000 [==============================] - 1s 152us/sample - loss: 0.3294 - accuracy: 0.8644
Epoch 96/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3291 - accuracy: 0.8642
Epoch 97/100
9000/9000 [==============================] - 1s 153us/sample - loss: 0.3302 - accuracy: 0.8634
Epoch 98/100
9000/9000 [==============================] - 1s 151us/sample - loss: 0.3292 - accuracy: 0.8653
Epoch 99/100
9000/9000 [==============================] - 1s 154us/sample - loss: 0.3294 - accuracy: 0.8667
Epoch 100/100
9000/9000 [==============================] - 1s 155us/sample - loss: 0.3299 - accuracy: 0.8643

the accuracy of the training set is 85.78%
now we will check the accuracy for the test set

In [0]:
y_pred = model.predict(X_test)

evaluating the model for its accuracy and loss

In [0]:
loss, accuracy = model.evaluate(X_test,y_test,verbose=1)
print("test accuracy=",accuracy)

1000/1000 [==============================] - 0s 101us/sample - loss: 0.3277 - accuracy: 0.8600
test accuracy= 0.86